@yellow: #8b8b00;
@greenBG: rgb(55, 104, 55);

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color:  @greenBG;
  color: #5dbe76;
  .margenes(51px, 20px);
 }

body {
  background: #c0dfc0; }

.btn {
  background-color: #047004; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #91c091;
  .margenes(11px, 0px);
}
.card-hotel {
  flex: 1 200px;
  /*sentido horario*/
  /*padding: 2px 0px 2px 0px;*/
  .margenes(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 20px; }

.btn-link {
color: #ddf7df; 
}