.jumbotron {
  background-color: #396b39;
  color: #5dbe76;
  margin-top: 51px;
  margin-bottom: 0px;
}

body {
  background: #c0dfc0;
}

.btn {
  background-color: #047004;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #91c091;
  margin-top: 11px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  /*sentido horario*/
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-adress-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 20px;
}

.btn-link {
  color: #ddf7df;
}