// variables con $ 

//html color picker

$yellow: rgba(197, 144, 144, 0.133);  //es una especie de constante, unico lugar donde tengo que modificar MI amarillo
$gray: rgb(133, 115, 115);
$greenBG: rgb(170, 187, 170);
$greenBG2: rgb(57, 107, 57);
//mixin una especie de funcion para atributos
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

//especificamos clase jumbotron y modificamos el color
//leer flex en boostrap

.jumbotron{
    background-color: $greenBG2;
    color: rgb(93, 190, 118);
    //margin-top: 50px;
    @include margenes(51px, 0px);
}

body{
    background: rgb(192, 223, 192);
}

.btn{
    background-color: rgb(4, 112, 4);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(145, 192, 145);
    //margin-bottom: 0px;
    //margin-top: 10px;
    @include margenes(11px, 0px);
}

.card-hotel{
    flex: 1 200px;
    /*sentido horario*/
    /*padding: 2px 0px 2px 0px;*/
    //margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top:  20px;
}

.btn-link {
    color: #ddf7df;
}